// .parallax {
//     min-height: 100dvh;
//     overflow: hidden;
//     position: relative;

//     &::before {
//         content: "";
//         background: url('../../public/bg2.webp') no-repeat center center;
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         z-index: -1;
//         background-attachment: fixed;
//         background-position: center;
//         background-repeat: no-repeat;
//         background-size: contain;
//     }

//     .header-overlay {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         background: rgba(0, 0, 0, 0.5);
//         z-index: 1;
//     }
// }


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    transition: background 0.4s ease-in-out;

    &.hide {
        // top: -100%;
        background-color: white;
    }
}

.nav-item {
    position: relative;
    display: inline-block;
    padding: 12px 16px;

    &:hover {
        .dropdown-content {
            display: block;
        }

        .icon {
            animation: rotate-icon-180 0.3s ease-in-out forwards;
        }
    }

    .icon {
        display: inline-block;
        transition: transform 0.3s ease-in-out;
    }


    .dropdown-content {
        display: none;
        position: absolute;
        top: 100%; // Positionierung des Dropdowns unter dem Navigationselement
        left: 0;
        background-color: #fff;
        min-width: 200px; // Mindestbreite des Dropdown-Menüs
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        padding: 12px 0; // Padding für das Dropdown-Menü

        span {

            padding: 12px 16px;
            cursor: pointer;
            text-decoration: none;
            display: block;

            &:hover {
                background-color: #f1f1f1;
            }
        }
    }

    &:not(:hover) .icon {
        animation: rotate-icon-back 0.5s ease-in-out forwards;
    }

}



.icon-marquee {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    width: 100%; // Breite des Containers
    min-height: 50px; // Höhe des Containers
    background-color: transparent; // Optional: Hintergrundfarbe des Containers

    .icon-wrapper {
        display: inline-block;
        white-space: nowrap;
        animation: scroll-left 60s linear infinite;
    }

    .icon {
        display: inline-block;
        margin: 0 100px; // Abstand zwischen den Icons
        font-size: 24px; // Größe der Icons
        color: #333; // Farbe der Icons
    }

    .icon-wrapper::after {
        content: "";
        flex-shrink: 0;
        display: block;
    }

    // // Fade-Effekt an den Rändern
    // &::before,
    // &::after {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     width: 150px; // Breite des Fade-Bereichs
    //     min-height: 100%; // Höhe auf die gesamte Section erweitern
    //     z-index: 1;
    //     pointer-events: none;
    //     background: linear-gradient(to right, #343a40, transparent); // Links
    // }

    // &::after {
    //     right: 0;
    //     left: auto;
    //     background: linear-gradient(to left, #343a40, transparent); // Rechts
    // }

    @keyframes scroll-left {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-100%);
        }
    }
}