.signatureCanvas {
    border: 2px solid #000;
    border-radius: 5px;
    width: 100%;
    height: 200px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    touch-action: none; // Verhindert Scrollen beim Unterschreiben
}

.signature-image {
    img {
        border: 2px solid #000;
        border-radius: 5px;
        width: 300px;
        height: auto;
    }
}