$color1: #bb23d6; // Primary color
$color2: #bb23d6; // Lighten primary color by 20%
$color3: #831791; // Darken primary color by 20%
$color4: #fdf4ff; // Lighter accent
$color5: #6d1877; // Slightly darker accent
$color6: #48034f; // Darker accent
$color7: #96b1fc;
$color8: #fdf4ff;

.tabs {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    border-radius: 8px;

    .tab {
        display: flex;
        align-items: center;
        color: #888;
        padding: 8px 16px;
        font-size: 16px;
        cursor: pointer;
        transition: color 0.3s ease-in-out;

        svg {
            margin-right: 8px;
            fill: #111;
            transition: fill 0.3s ease-in-out;
        }

        &:hover {
            color: #111;

            svg {
                fill: #111;
            }
        }
    }

    .active {
        color: #111;
        font-weight: bold;
        position: relative;

        &::after {
            content: '';
            display: block;
            height: 2px;
            background-color: #111;
            position: absolute;
            bottom: -2px;
            left: 8px;
            right: 8px;
        }
    }
}