.toast-container {

    top: 100px;
    left: 50%;
    margin-top: 50px;
    transform: translateX(-50%);
    z-index: 99999999;
    display: flex;
    position: absolute !important;
    flex-direction: column;
    align-items: center;
}

.toast {

    min-width: 100px;
    max-width: 250px;
    padding: 12px 20px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    opacity: 0;
    animation: fadeInDown 0.5s ease-out forwards, fadeOut 0.5s ease-in 4.5s forwards;

    &.success {
        background-color: #28a745;
    }

    &.error {
        background-color: #dc3545;
    }
}

// Keyframe-Animationen
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}